<html>

<head>
<title> Aula DIV </title>
<link rel="stylesheet" type="text/css" href="estilo2.css"/>
</head>
  <body>

            <div id="site">

          <div id="topo"><center>
		  <img src="minha vida.png "/></center>
          </div>

          <div id="menu">
          <h3>|Menu| Não sei o que eu posso colocar nessa parte</h3>
		 
          </div>

          <div id="conteudo">
          <center><h1>Quem sou eu?</h1></center>
		  <br> <br>
		  <p> Meu nome é Giulia e, particularmente, não acho que eu tenho algo de especial. Gosto de desenhar, assistir animes, ler mangás, e criar algumas histórias (as famosas fanfics kkkk), coisas que toda fujosh gosta. Tenho 16 anos e 1,59 de altura e poucos amigos, o que não vem ao caso, só preciso de mais palavras para colocar aqui e deixar o texto mais comprido. Na verdade, eu nem sei se alguém vai ler isso, mas como é um trabalho que vale nota então eu vou enrolar, já que eu não faço a mínima ideia do que por nesse texto sobre mim.  </p>
		  <br>
		  <p> Voltando ao assunto de antes, eu, eu trnho um gato que se chama Gizerdo. Ele é cinza. E, por algum motivo, ninguém aqui em casa o chama pelo nome, é sempre Miau aqui, Miau ali.</p>
		  <br>
		  <p>Eu também tenho um irmão mais novo, chato pra caramba, mas continua sendo meu irmão. E, infelizmente eu não posso fazer nada pra mudar isso.</p>
		  <br>
		  <p> Eu gostava de um cara no ano passado, mas ele gostava da minha amiga e, no fim de tudo, eles acabaram ficando juntos e eu de lado (triste eu sei). Então, no começo desse ano eu comecei a gostar de outro menino. O famoso crush do ônibus. Iamos todos os dias juntos para a escola até que veio o corona-vírus e disse "No, no, no." e acabou com as minhas espectativas e com os sonhos de algumas pessoas pelo resto do mundo.</p>
		  <br>
		  <p> Deixando as brincadeiras de lado. . . parece qe eu acabei o trabalho (hehe). E esse texto não contém nenhuma informação que alguém poderia querer saber sobre mim. Pura enrolação e perda de tempo. Mas enfim...</p>
		  <br>
		  <center><p> Trabalho feito, lindo e maravilhoso!</p></center>
		  
          </div>
		  
          <div id="sidebar">
         <center> <h1>Coisas sobre mim que talvez você se interesse:</h1>
		 <br> <br>
		 <p><a href="">Minha vida pessoal</a></p>
		 <br> <br>
		 <p><a href="">Meu gato</a><p>
		 <br><br>
		 <p><a href="">Rotina</a><p>
		 <br><br>
		 <p><a href="">Escola</a><p>
		 <br><br>
		 <p><a href="">Meu passatempos</a><p>
		 <br><br>
		 <p><a href="">Minha loja</a><p>
		 <br><br></center>
          </div>

          <div id="rodape">
          <h2>Conciderações</h2>
		  <center><p> Página em html e css feitas por Giulia Ventura Favaro/eu</p>
          </div>

            </div>
			 
  </body>
</html>			 