h2 {
font-family:Times New Roman;
font-size: 50px;
color: #FFFFFF;
}

p{ 
font-family: Helvética;
font-size:30px;
color: #000000;
}

a{
font-family: Helvética;
font-size:30px;
color: #000000;
}

#titulo2{
	width: 900px;
	height:66.6px;
	margin: 0 auto;
	background: #800000;
}
	
	#conteudo{
	width: 900px;
	height:200px;
	margin: 0 auto;
	background: #FFFFFF;
	}